    body {
       position: relative;
       z-index: 0;
    }

    body::before{/*permet de ne pas agir directement sur le HTML*/
    left: 0;/*colle a gauche*/
    width: 100%;/*prend toute la largeur*/
    height: 100%;/*prend toute la hauteur*/
    content: "";/*oblige pour afficher un pseudo-elemnet*/
    filter: brightnes(90%);
    z-index: -1;/*met l'image derriere le contenue*/
    background-size:cover;/*l'image couvre tout l'elt*/
    background-image: url("IMG-20260325-WA0025.jpg");
    position: absolute;/*position l'elt par rapport au body*/
    background-repeat: no-repeat;/*empeche la duplication*/
    background-attachment: fixed;/*l'image reste fixe lorsqu'on scroll*/
    }

    .ani{
        color: rgb(22, 20, 46);
        display:inline-block;
        padding: 12px 24px;
        border-radius: 5px;
        font-weight: bold;
        transition: 0.4s;
    }

    .ani:hover{
        background-color: rgb(160, 113, 56);
        transform: translateY(-2px);
    }

    .ani:active{
        transform: translateY(0px);
    }

    #menuparametre{
        position:absolute;
        top: 50px;
        right: 1px;
        background-color: white;
        padding: 10px;
        width: 220px;
        text-align: left;
        border-radius: 15px;
    }
    /*cacher le menu au debut*/
    .hidden{ /*classe qu'on peut ajouter a un elt*/
        display: none;
    }

    /*hover=quand la sourie passe sur l'elt*/
    #menuparametre button:hover {
        background-color: rgba(26, 25, 23, 0.495);
    }
    
    #para {
        text-align: right;
    }

    #para button:hover{
        background-color: rgba(26, 25, 23, 0.495);
    }

    #menutheme{
        position:absolute;
        top: 50px;
        right: 1px;
        background-color: rgba(21, 233, 28, 0.567);
        padding: 10px;
        width: 420px;
        text-align: left;
        border-radius: 15px;
    }

    #menutheme:hover{
        background-color: rgb(208, 120, 25);
    }

    /*cacher le menu au debut*/
    .hidden{ /*classe qu'on peut ajouter a un elt*/
        display: none;
    }

    #settings{
        anchor-name: --anchor-settings;
    }

    #help{
        anchor-name: --anchor-help;
    }

    #send{
        anchor-name: --anchor-send;
    }

    #info{
        anchor-name: --anchor-info;
    }

    #theme{
        anchor-name: --anchor-theme;
    }

    .txt{
        text-align: center;
        background-color: rgba(255, 255, 255, 0.019);
        margin: 100px;
    }

    footer{
        text-align: end;
        margin-top: 1px;
    }

    nav{
        text-align: left;
        margin-top: 60px;
        
    }

button {
    border-radius: 15px;
}

.video-bas{
  margin-top: auto;/*pause la videoen bas*/
  padding: 0px;
}

.video-bas{
 width: 80%;/*taille de la video*/
}

#recherche{
    text-align: center;
}

#rech:hover{
    background-color: rgba(169, 197, 192, 0.463);
}

#send{
    text-align: center;
}

#send:hover{
    background-color: rgba(169, 197, 192, 0.463);
}

#search{
    border-radius: 20px;
    width: 500px;
    height: 30px;
}

button :hover{/*change le style lorsque la sourie passe sur le boutton*/
    background-color: blue;
}

.but{
    text-align: left;
}

a{
    text-decoration: none;
    color: rgb(17, 17, 113);
    font-size: 30px;
}

#h2{
    color: rgb(17, 10, 93);
    font-size: 30px;
}

#h3{
 color: rgb(15, 12, 106);   
font-size: 25px;
}

.claire{
    color: rgb(255, 255, 255);
}

#aide{
    color: rgb(22, 20, 46);
        display:inline-block;
        padding: 12px 24px;
        border-radius: 5px;
        font-weight: bold;
        transition: 0.4s;
       
}

 #aide:hover{
        background-color: rgb(160, 113, 56);
        transform: translateY(-2px);
    }

    #aide:active{
        transform: translateY(0px);
    }

    .aide{
         color: blue;
    }
